// ------------------------------------------------------------
// Page Layout
// ------------------------------------------------------------

.page {
    &__header {
        margin-bottom: 45px;
    }
    &__container {
        max-width: 1200px;
        width: 80%;
        margin: 0 auto;
    }
    &__quote {
        margin-top: 130px;
        margin-bottom: 30px;
    }
}






//
// Tablet
// ______________________________

@media screen and (max-width: $media__l) {
    
    .page {
        &__header {
            margin-bottom: 25px;
        }
        &__container {
            width: 90%;
        }
    }
}

