// ------------------------------------------------------------
// Page Layout
// ------------------------------------------------------------

.page {
    &__main {
        margin-top: 4.5rem;
    }

    &__container {
        max-width: 120rem;
        width: 90%;
        margin: 0 auto;

        &--large {
            max-width: 144rem;
        }
        &--small {
            max-width: 90rem;
        }
        &--full-width {
            width: 100%;
        }
    }

    &__section {
        margin-bottom: 13rem;

        &--short {
            margin-bottom: 3.5rem;
        }
        &--tall {
            margin-bottom: 23rem;
        }
    }

    &__section-heading {
        margin-bottom: 1.5rem;
    }

    &__separator {
        margin: 3rem 0;
    }

    &__subscribe-area {
        max-width: 60rem;
        margin: 0 auto;
    }

    &__footer {
        margin-bottom: 6rem;
    }
}






//
// Tablet
// ______________________________

@media screen and (max-width: $media__l) {
    
    .page {
        &__container {
            width: 90%;
        }

        &__section {
            margin-bottom: 9.5rem;

            &--tall {
                margin-bottom: 17rem;
            }
        }

        &__subscribe-area {
            width: 90%;
        }
    }
}



//
// Mobile
// ______________________________

@media screen and (max-width: $media__s) {

    .page {
        &__container {
            &--large {
                width: 100%;
            }
        }

        &__section {
            margin-top: 3rem;

            &--short {
                margin-bottom: 3.5rem;
            }
        }
    }
}

