// ------------------------------------------------------------
// Hero Block
// ------------------------------------------------------------


.hero {
    display: flex;

    &__body {
        position: relative;
        display: flex;
        flex: 1;
    }
    &__text {
        position: absolute;
        top: 6.5rem;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.4);
        width: 70rem;
    }
    &__media {
        display: flex;
        flex: 5;
    }
}



//
// Tablet
// ______________________________

@media screen and (max-width: $media__l) {
    .hero {
        display: block;

        &__text {
            width: 100%;
            position: static;
            text-align: center;
            margin-bottom: 4.5rem;
        }
    }
}

