// ------------------------------------------------------------
// General / Grid
// ------------------------------------------------------------



.info-block {
    &__title {
        font-size: 3.7rem;
        margin-bottom: 2rem;
        text-transform: capitalize;

        &--underline {
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 2.3rem;
                height: 0.2rem;
                background-color: $color__brand;
                margin-top: 0.4rem;
            }
        }
    }


    &__subtitle {
        @extend %uppercase;
        color: $color__brand;
        font-size: 1.2rem;
    }
    &__description {
        color: $color__text--light;
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
    &__link {
        @extend %uppercase;
        font-size: 1.2rem;
        border-bottom: 0.2rem solid $color__brand;

        &:hover {
            color: $color__brand--dark;
        }
    }

    &--centered {
        text-align: center;
    }
}



//
// Tablet
// ______________________________

@media screen and (max-width: $media__l) {

    .info-block {
        &__title {
            &--underline {
                &::after {
                    content: none;
                }
            }
        }
    }
}


//
// Mobile - Small
// ______________________________

@media screen and (max-width: $media__s) {

    .info-block {
        &__title {
            font-size: 3.2rem;
        }
        &__subtitle {
            font-size: 1rem;
        }
        &__description {
            margin-bottom: 1.5rem;
            font-size: 1.4rem;
        }
        &__link {
            font-size: 1.1rem;
        }
    }
}

