// ------------------------------------------------------------
// Logo
// ------------------------------------------------------------


.logo {
    font-size: 4rem;
    color: $color__brand;
}



//
// Mobile
// ______________________________

@media screen and (max-width: $media__s) {
    .logo {
        font-size: 3.5rem;
    }
}

