// ------------------------------------------------------------
// Modal Block
// ------------------------------------------------------------


.modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;

    /* Scrollbar width */
    ::-webkit-scrollbar {
        width: 0.7rem;
        padding: 2rem 0;
    }
  
    /* Scrollbar Track */
    ::-webkit-scrollbar-track {
        background: none;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgba(237,237,237,1);
        border-radius: 1rem;
    }

    /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
        background: rgba(204,204,204,1);
    }



    &__action {
        display: flex;
        
        &--left {
            justify-content: flex-start;
        }
        &--right {
            justify-content: flex-end;
        }
    }

    &__close-button {
        font-size: 2.3rem;
        color: $color__text;
        margin-right: 2.4rem;
    }

    &__title {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__body {
        padding: 0 7.5rem;
        text-align: justify;
    }


    &__container {
        position: fixed;
        top: 10%;
        right: 10%;
        left: 10%;
        bottom: 10%;
        z-index: 1;
        padding: 2.4rem 0 4rem 0.7rem;
        background-color: $color__white;
        overflow-y: scroll;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
}





//
// Tablet
// ______________________________

@media screen and (max-width: $media__l) {

    .modal {
        &__container {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}




//
// Mobile
// ______________________________

@media screen and (max-width: $media__s) {
    
    .modal {
        &__close-button {
            font-size: 1.8rem;
        }

        &__title {
            margin-bottom: 7rem;
        }

        &__body {
            padding: 0 3rem;
        }

        &__paragraph {
            font-size: 1.4rem;
        }
    }
}

