// ------------------------------------------------------------
// Navigation
// ------------------------------------------------------------



.site-nav {
    @extend %uppercase;
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    &__list {
        display: flex;
    }
    &__item {
        margin-right: 4.5rem;
        &:last-child {
            margin-right: 0;
        }
    }

    &--centered {
        justify-content: center;
    }

    &--wide {
        .site-nav {
            &__item {
                margin-right: 8.5rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}




//
// Mobile
// ______________________________

@media screen and (max-width: $media__s) {
    .site-nav {
        font-size: 0.9rem;

        &__list {
            width: 100%;
            justify-content: space-between;
        }

        &__item {
            margin-right: unset;
        }

        &--wide {
            .site-nav {
                &__item {
                    margin-right: unset;
                }
            }
        }
    }
}

