// ------------------------------------------------------------
// Quote Block
// ------------------------------------------------------------


.quote {
    &__inner {
        width: 50%;
        margin: 0 auto;
        text-align: center;
    }
    &__text {
        color: $color__text--light;
        letter-spacing: 0.11rem;
        font: {
            family: $font-family__secondary;
            weight: $font-weight__normal;
            size: 1.8rem;
        }
    }
    &__name {
        @extend %uppercase;
        font-size: 1.2rem;
        margin-top: 1.5rem;
    }
}



//
// Tablet
// ______________________________

@media screen and (max-width: $media__l) {
    .quote {
        &__inner {
            width: 90%;
        }
    }
}



//
// Mobile
// ______________________________

@media screen and (max-width: $media__s) {

    .quote {
        &__text {
            font-size: 1.6rem;
        }
        &__name {
            font-size: 1.1rem;
        }
    }
}

