// ------------------------------------------------------------
// Social Icons Block
// ------------------------------------------------------------



.social {
    &__link {
        font-size: 3.1rem;
        color: rgba(237,237,237,0.8);
        
        &:hover {
            color: rgba(204,204,204,1);
        }
    }
}

