// ------------------------------------------------------------
// Subscribe Block
// ------------------------------------------------------------


.subscribe {
    &__body {
        text-align: center;
        margin-bottom: 2.8rem;
    }
    &__form {
        position: relative;

        &--error {
            .subscribe {
                &__input {
                    &:focus {
                        outline: none;
                        box-shadow: 0 0 0.5rem 0.2rem $color__red--dark;
                    }
                }
                &__button {
                    background-color: $color__red--dark;
                }
            }
        }
    }

    &__input {
        width: 100%;
        height: 4rem;
        padding: 0 2rem;
        background-color: rgba(237, 237, 237, 0.4);
        border: 0.1rem solid rgba(237, 237, 237, 0.9);

        &::placeholder {
            @extend %uppercase;
            font-size: 0.9rem;
        }

        &:focus {
            outline: 0.2rem solid $color__brand;
        }
    }

    &__button {
        position: absolute;
        top: 0;
        right: 0;
        width: 4rem;
        height: 4rem;
        border: none;
        padding: 1rem;
        cursor: pointer;
        background-color: $color__brand;
    }
    &__arrow {
        fill: $color__white;
    }

    &__message {
        min-height: 3.4rem;
        color: $color__red--dark;
        font-size: 1.3rem;
        padding-top: 1.2rem;
    }

    &__shadow {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -56rem;
        z-index: -1;
    }
}


