// ------------------------------------------------------------
// General / Grid
// ------------------------------------------------------------

.vertical-line {
    display: flex;
    justify-content: center;

    &__object {
        width: 2px;
        height: 100px;
        background-color: $color__brand;
    }
}




//
// Tablet
// ______________________________

@media screen and (max-width: $media__l) {}