// ------------------------------------------------------------
// Variables
// ------------------------------------------------------------

$color__brand: #5da8ef;
// $color__primary: darkblue;
// $color__secondary: darkcyan;
// $color__accent: darkgreen;

$color__text: #333;


$font-family__primary: 'Poppins', sans-serif;
$font-family__secondary: 'Playfair Display';


$font-weight__thin: 100;
$font-weight__normal: 400;
$font-weight__bold: 700;

