// ------------------------------------------------------------
// Placeholders
// ------------------------------------------------------------


%uppercase {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: $font-weight__bold;
}




// ------------------------------------------------------------
// Extends
// ------------------------------------------------------------


.uppercase-link {
    @extend %uppercase;
}

