// ------------------------------------------------------------
// Reset / Base Styles
// ------------------------------------------------------------


:root {
    font-size: 62.5%;
}

::selection {
    background-color: $color__brand;
    color: $color__black;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// Disable blue overlay on tap - mobile devices
html {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -moz-tap-highlight-color: rgba(255, 255, 255, 0); 
    -ms-tap-highlight-color: rgba(255, 255, 255, 0); 
}

body {
    font: {
        family: $font-family__primary;
        size: 1.6rem;
    }

    &.modal-open {
        height: 100vh;
        overflow-y: hidden;
        padding-right: 1.5rem; /* Avoid width reflow */
    }
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
}


h1, h2, h3, h4, h5, h6 {
    font-family: $font-family__secondary;
    font-weight: $font-weight__bold;
    color: $color__text;
}


a {
    color: $color__link;
    text-decoration: none;

    &:hover {
        color: $color__brand;
    }

    @media screen and (max-width: $media__l) {
        &:hover {
            color: $color__link;
        }
        &:active {
            color: $color__brand;
        }
    }
}





